<header>
	<h1>PageName: {{pageTitle}}</h1>
	<p><a href="/">Home</a></p>
	<p><a href="/about">About</a></p>
	<p><a href="/projects">Projects</a></p>
</header>

<!-- Musstage syntax lets us to use var from server and use this info -->