<!DOCTYPE html>
<html>
<head>
	<title>Some website</title>
</head>
<body>
	{{> header}}
	<!--Syntax to apply method by server file -->
	<p>{{screamIt welcomeMessage}}</p>

	{{> footer}}
	<!--Using footer partial from views/partials/footer-->
</body>
</html>